<div class="featured-landlords">
    {{#each this}}
    {{log this}}
    <a class="featured-landlord" id="featured-landlord-1" href="users/profilePage/{{reg_user_id}}">
        <div class="featured-landlord-left">
            <img class="landlord-picture" src={{picture_id}}>
            <p class="landlord-name">{{firstName}} {{lastName}}</p>
        </div>
        <div class="featured-landlord-right">
            <div class="landlord-info">
                {{> rating user_rating}}
                <div class="bio">
                    {{bio}}
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</div>