<div class="bad-review" id="bad-review">
    {{log this}}
    <div id="bad-landlord-id" style="display: none; position: fixed;">{{landlordId}}</div>
    <div>
        <div class="bad-review-author">
            <img class="bad-review-profile"
                {{#if profile}}
                src="/{{profile}}"
                {{else}}
                src="/public/images/profile/default.jpeg"
                {{/if}}
                ></img>
            <p>{{renter}}</p>
        </div>
        <div class="description" id="bad-review-description">
            <div class="bad-review-text-box">
                <div class="review-title-line">
                    <div class="review-title" id="bad-review-title">
                        {{title}}
                    </div>
                    <div class="bad-review-rating">
                        {{> rating rating}}
                    </div>
                </div>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <div class="bad-review-pictures">
        <img class="bad-review-picture"
            {{#if thumbnail}}
            src="/{{thumbnail}}"
            {{else}}
            src="/public/images/listings/images.png"
            {{/if}}
            ></img>
    </div>
</div>
<script>
let landlordId = document.getElementById("bad-landlord-id").innerHTML;
document.getElementById("bad-review").onclick = () => {
    location.assign(`/users/profilePage/${landlordId}`);
}
</script>