




<div id="flash-message" class="flash-message">
        {{#if error}}
        {{log this}}
        {{error}}
        {{else}}
</div>

<div id="flash-message" class="flash-messagee">
        {{success}}
{{/if}}
</div>
 



{{!-- {{#if message}}
<p id="search-message">{{message}}</p>
<div class="result">
    Suggested Results
</div>
{{else}}

<div class="result">
    Search results for {{searchTerm}}
</div>
{{/if}} --}}