<a href="/post/{{id}}" class="post-anchor">
    <div id="post-{{id}}" class="card">
        <img class="image" src="{{thumbnail}}" alt="Missing Image" />
        <div class="card-info">
            <div id="card-title">{{title}}</div>

            {{description}}
            </br>
        </div>
    </div>
</a>