<div class="profile-page">
    {{log this}}
    <div class="profile-img-info-bio">
        <div class="profile-page-img-info">
            <div class="profile-page-img-section">
                <img class="profile-page-img" {{!--
                    src="https://i0.wp.com/evanstonroundtable.com/wp-content/uploads/2022/05/Lushina-scaled-e1652827479814.jpg?fit=1200%2C900&ssl=1"
                    --}} src="/{{profile.user.profilePic}}" alt="/public/images/profile/default.jpeg">
            </div>
            <div class="profile-page-info">
                <p class="profile-page-person-name">{{profile.user.firstName}} {{profile.user.lastName}}</p>
                <h4>{{profile.user.email}}</h4>
                {{!-- <h4>{{user.phone}}</h4> --}}
                <p class="profile-page-person-rating">{{profile.user.rating}}</p>
            </div>
        </div>
        <div class="profile-page-bio-box">
            <header class="profile-page-box-header">
                Learn about {{profile.user.firstName}}
            </header>
            <p class="bio-description">
                {{profile.user.bio}}
            </p>
        </div>
    </div>
    <div class="profile-page-buttons-section">
        {{!-- <button class="profile-page-button" id="post-review-button">Leave a Review</button> --}}
        <button class="profile-page-button" id="edit-profile-button" onclick="location.replace('/editProfile')">Edit
            Profile</button>
        <button class="profile-page-button" onclick="location.replace('/postListingPage')">Post a Listing</button>
        {{!-- <div class="form-popup" id="reviewForm">
            <form class="form-container" method="post" action="" id="leave-a-review-form">
                <h1 class="review-header">Leave a Review</h1>
                <input type="number" name="rating" value="Enter rating. 1-5">
                <textarea name="description" id="textarea" class="text" cols="50" rows="20"
                    placeholder="Enter a review..." required></textarea>
                <input type="submit" id="post-review-submit-button" value="POST">
            </form>
        </div> --}}
    </div>
    <div class="profile-btn-reviews-listings">
        <div class="profile-page-box">
            <header class="profile-page-box-header">
                Reviews
            </header>
            {{#each profile.reviews as |review index|}}
            {{log this}}
            <h4> Review {{listItem index}}</h4>
            {{> userReview review}}
            {{/each}}
        </div>
        <div class="profile-page-box">
            <header class="profile-page-box-header">
                Listings
            </header>
            {{#each profile.listings}}
            {{log this}}
            <a class="profile-page-listings" id="profile-page-listings" href="/listings/{{listingId}}">
                <div class="profile-page-listing">
                    <img class="profile-page-listing-img" 
                    {{#if thumbnail}} 
                    src="/{{thumbnail}}" 
                    {{else}}
                    src="/public/images/listings/images.png" {{/if}}>
                    <div class="profile-page-listing-desc">
                        <p>{{beds}} Bedrooms</p>
                        <p>{{baths}} Bathrooms</p>
                        <p>${{price}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
<script type="module" src="/public/js/profilePage.js"></script>