<div class="user-profile-page">
    {{!-- <header class="profile-page-header">
        Profile Page
    </header> --}}
    {{!-- {{log this}} --}}
    <div class="user-profile-img-info-bio">
        <div class="user-profile-page-img-info">
            <div class="user-profile-page-img-section">
                <img class="user-profile-page-img"
                    src="https://i0.wp.com/evanstonroundtable.com/wp-content/uploads/2022/05/Lushina-scaled-e1652827479814.jpg?fit=1200%2C900&ssl=1"
                    alt="">
            </div>
            <div class="user-profile-page-info">
                <p class="user-profile-page-person-name">{{user.name}}</p>
                <h4>{{user.email}}</h4>
                <h4>{{user.phone}}</h4>
                {{!-- <p class="profile-page-person-rating">7/10</p> --}}
            </div>
        </div>
        <div class="user-profile-page-bio-box">
            <header class="user-profile-page-box-header">
                Learn about {{user.name}}
            </header>
            <p class="user-bio-description">
                {{user.bio}}
            </p>
        </div>
    </div>
    <div class="user-profile-btn-reviews-listings">
        <div class="user-profile-page-box">
            <header class="user-profile-page-box-header">
                Written Reviews
            </header>
            {{#each reviews as |review index|}}
            {{!-- {{log this}} --}}
            <h4> Review {{listItem index}}</h4>
            {{> userReview review}}
            {{/each}}
        </div>
    </div>
</div>