<div class="featured-listing">
    <img class="listing-picture" src="images/picture_1666042712023.jpeg">
    <p class="listing-info">
        {{landlord}} </br>
        {{price}} </br>
        {{description}} </br>
        {{street_number}} {{street}} </br>
        {{city}}, {{state}} {{zip}} </br>
        Rooms: {{rooms}} </br>
        Baths: {{baths}}
    </p>
    {{> topReview top_review}}
</div>