<div class="featured-landlords">
    <a class="featured-landlord" id="featured-landlord-1" href="profilepage">
        <div class="featured-landlord-left">
            <img class="landlord-picture" src={{landlord1.img}}>
            <p class="landlord-name">{{landlord1.name}}</p>
        </div>
        <div class="featured-landlord-right">
            <div class="landlord-info">
                {{> rating landlord1.rating}}
                <div class="bio">
                    {{landlord1.bio}}
                </div>
            </div>
        </div>
    </a>
    <a class="featured-landlord" id="featured-landlord-2" href="profilepage">
        <div class="featured-landlord-left">
            <div class="landlord-info">
                {{> rating landlord2.rating}}
                <div class="bio">
                    {{landlord2.bio}}
                </div>
            </div>
        </div>
        <div class="featured-landlord-right">
            <img class="landlord-picture" src={{landlord2.img}}>
            <p class="landlord-name">{{landlord2.name}}</p>
        </div>
    </a>
    <a class="featured-landlord" id="featured-landlord-3" href="profilepage">
        <div class="featured-landlord-left">
            <img class="landlord-picture" src={{landlord3.img}}>
            <p class="landlord-name">{{landlord3.name}}</p>
        </div>
        <div class="featured-landlord-right">
            <div class="landlord-info">
                {{> rating landlord3.rating}}
                <div class="bio">
                    {{landlord3.bio}}
                </div>
            </div>
        </div>
    </a>
</div>